h1 {
    color: blue;
    font-family: 'Lobster';
}

p {
  color: navy;
}

body {
    padding-left: 15px;
}

.page-head {
    background-color: #99ccff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
